<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Vendas</title>
        <link th:href="@{/styles/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Vendas</h1>
        <form method="get" th:action="@{/vendas}">
            <label>Data Inicial: <input type="date" name="data_inicial"/></label>
            <label>Data Final: <input type="date" name="data_final"/></label>
            <button type="submit">Buscar</button>
        </form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="venda : ${vendasFiltradas}">
        <td th:text="${venda.id}"></td>
        <td th:text="${venda.data}"></td>
        <td th:text="${venda.valor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>